body{
    background-color: #0f2a3f;
}

.container{
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.form{
    margin: auto;
    border: 2px solid #08141e;
    border-radius: 10px;
    background: #997577;
    width: 50%;
    padding: 20px;
    color: #f6d6bd;
    align-items: center
}

h4{
    text-align: center;
    color: #f6d6bd;
}

.form-titulo {
    background-color: #08141e;
    border-radius: 10px;
    color: #f6d6bd;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

button {
    width: 100%;
    padding: 5px;
    margin: 10px auto;
    width: 30%;
    font-family: "pixel";
    font-weight: bold;
    background-color: wheat;
}

.form-group{
    text-align: center;
}
