#bo{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 0%;
  }

  html,body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
  
  body {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0f2a3f;
    color: #f6d6bd;
  }

.jesus {
  margin-top: 10%;
}
